<!doctype html>
<html lang="ru">

  <head>
    <title>TatarDiffusion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,900|Source+Serif+Pro&display=swap" rel="stylesheet">


    <link rel="stylesheet" href='{{url_for("static", filename="/css/bootstrap.min.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="/css/jquery.fancybox.min.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="/css/owl.carousel.min.css")}}'>
    <link rel="stylesheet" href='{{url_for("static", filename="/fonts/flaticon/font/flaticon.css")}}'>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href='{{url_for("static", filename="/css/style.css")}}'>

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3">
              <div class="site-logo">
                <a href="index" class="font-weight-bold">TatarDiffusion</a>
              </div>
            </div>

            
          </div>
        </div>

      </header>

    
    <div class="site-section-cover">
      <div class="container">
        <div class="row align-items-center text-center justify-content-center">
          <div class="col-lg-6">
            <h1 class="text-white mb-4">DreamTeam</h1>
            <p class="lead">Фотографии старотатарской одежды, сгенерированные с помощью State-Diffusion</p>
            
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img1">
                <img src='{{url_for("static", filename="ai_images/img1.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img2">
                <img src='{{url_for("static", filename="ai_images/img2.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img3">
                <img src='{{url_for("static", filename="ai_images/img3.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img4">
                <img src='{{url_for("static", filename="ai_images/img4.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img5">
                <img src='{{url_for("static", filename="ai_images/img5.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img6">
                <img src='{{url_for("static", filename="ai_images/img6.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img7">
                <img src='{{url_for("static", filename="ai_images/img7.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100 center-block">
              <a href="single/img8">
                <img src='{{url_for("static", filename="ai_images/img8.jpg")}}' alt="Image"
                 class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single/img9">
                <img src='{{url_for("static", filename="ai_images/img9.jpg")}}' alt="Image"
                 class="img-fluid center-block">
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    
    
    <div class="footer site-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="site-logo-footer">
              <a href="index">TatarDiffusion</a>
            </div> 
          </div>
          <div class="col-md-8 ml-auto">
            <div class="row">
              <div class="col-md-4 ml-auto">
                <ul class="list-unstyled links">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">kiryushka.panteleev.03@mail.ru</a></li>
                  <li><a href="#">+7 902 105 10 97</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-4 text-center">
          <div class="col">
            <a href="#"><span class="m-2 icon-facebook"></span></a>
            <a href="#"><span class="m-2 icon-twitter"></span></a>
            <a href="#"><span class="m-2 icon-linkedin"></span></a>
            <a href="#"><span class="m-2 icon-instagram"></span></a>
            <a href="#"><span class="m-2 icon-skype"></span></a>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-md-7 text-center">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>

    

    </div>



  </body>

</html>

